<table class="table">
    <thead>
        <tr>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_core.field.email'|trans }}</th>
            <th>{{ 'ekyna_order.order.field.state'|trans }}</th>
            <th>{{ 'ekyna_order.order.field.ati_total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% if orders is not empty %}
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{ path('ekyna_order_order_admin_show', {'orderId': order.id}) }}">
                    {{ order.number }}
                </a>
            </td>
            <td>
                {{ order.email }}
            </td>
            <td>
                {{ order.state|order_state_badge }}
            </td>
            <td>
                {{ order.atiTotal|localizedcurrency('EUR') }}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">
                <p style="text-align: center;">
                    <em>{{ 'ekyna_order.order.dashboard.none'|trans }}</em>
                </p>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>