{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_order.order.header.edit'|trans({'%number%': order.number})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(order, 'list') }}
{{ admin_resource_btn(order, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_order_order_admin_edit', {'orderId': order.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaOrderBundle:Order/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}