{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_order.order.header.new'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_order.order', 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_order_order_admin_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaOrderBundle:Order/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}